#contact::before {
    width: 100%;
    content: "";
    display: flex;
    justify-content: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0px;
    left: 0px;
}

/* #contact {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: cover;
    background-image: url('images/campus.jpg');
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.60);
    justify-content: center;
} */

#contact {
    position: relative;
    background-image: url('images/campus.jpg');
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

#contact h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
}

#contact h3 {
    font-size: 25px;
}

#contact h4 {
    font-size: 26px;
    font-weight: 250;
}

#contact p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 350;
}

.contact-col {
    flex-basis: 31%;
    margin:25px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #9c173632;
}

.cont-row {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.contact-row {
    margin-top: 30px;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-bottom: 5vw;
    padding-left: 9vw;
    padding-right: 9vw;
}

@media(max-width: 800px) {
    .contact-row {
        flex-direction: column;
    }
}

.contact-column:first-child{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.contact-column:nth-child(2){
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center; 
}

.contact-column {
    /* float: left; */
    /* background-color: #9c1737; */
    width: 50%;
    justify-content: center;
    padding: 2%;
}

.contact-row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 900px) {
    .contact-column {
        width: 100%;
    }
}

.contact-page-form h2 {
    color: #000;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
}

.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
    padding-left: 0;
}

.contact-page-form.contact-form input {
    margin-bottom: 5px;
}

.contact-page-form.contact-form textarea {
    height: 110px;
}

.contact-page-form.contact-form input[type="submit"] {
    background: #000;
    width: 150px;
    border-color: #000;
}

.contact-page-form input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c1c0c0;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    border-radius: 4px;
}

.contact-page-form .message-input {
    display: inline-block;
    width: 100%;
    padding-left: 0;
}

.single-input-field textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c1c0c0;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border-radius: 4px;
}

.single-input-fieldsbtn input[type="submit"] {
    background: var(--main-color) none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 10px 0;
    text-transform: capitalize;
    width: 150px;
    margin-top: 20px;
    font-size: 16px;
}
:root {
    --primary: #EEBF00;
    --secondary: #232B38;
    --ternary: #6C6C6C;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;
    --heaven: #FFFFFF;
    --footer: #2D333F;
    --black: #000000;
    --gray: #EDEDED;
    --light_gray: #F2F2F2;
    --main-color: #242A45;
    --sub-color: #9CD0CF;
}
.single-input-fieldsbtn input[type="submit"]:hover {
    background: var(--primary);
    color: #000000;
    border: none;
    transition: all 0.4s ease-in-out 0s;
    /* border-color: #000 */
}

.contact-page-form {
    display: inline-block;
    width: 100%;
}

.contact-page-form form {
    padding: 30px 20px 0;
    background: var(--ternary);
}